API_ID=28425596 # get this value from my.telegram.org
API_HASH=56c6da314f988d24934572cb3c680ae7 # get this value from my.telegram.org
BOT_TOKEN=8168261561:AAEd9gyJgVGuUEZX5sGAd5t2y9nuG2SvDR0 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-101234567890 # get this value from in your log group 
MUSIC_BOT_NAME=rs_music # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @rs_music
